# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
tsconfig.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Library specific - COMENTADOS PARA QUE GITHUB PUEDA COMPILAR Y PUBLICAR
# src             <-- Comentado: el robot necesita los archivos fuente
# .storybook
storybook-static
# rollup.config.mjs <-- Comentado: el robot necesita la receta de cocina
# tsconfig.json     <-- Comentado: el robot necesita la config de TypeScript
.nvmrc
# .github           <-- Comentado: el robot necesita sus instrucciones
yarn.lock
*.stories.tsx
*.test.tsx
# .eslint*
# .prettier*
husky
!dist/