@use '../../../../styles/mixins.scss' as mixins;

.sidebarFiltersSection {
  @apply w-184 mx-auto px-8 overflow-y-auto;
  height: calc(100vh - 30.8rem - 7.6rem - 3.4rem - 8.8rem - 3.6rem);
  @include mixins.visibleScrollBar();
}
